<section class="skills">
    <h2 class="text-3xl font-bold">Skills</h2>
    <p class="text-lg">Here are the skills I specialize in:</p>
  

    <div class="category">
      <h3 class="text-xl font-semibold">Skills</h3>
      <ul>
        <p class="font-semibold text-blue-500 mt-2 hover:text-blue-600 transition-all duration-300">HTML</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEc9A_S6BPxCDRp5WjMFEfXrpCu1ya2OO-Lw&s" alt="HTML" class="w-auto h-20 rounded-full">
        <p>JavaScript</p>
        <img src="https://seekvectors.com/files/download/70ccc1a930b323b6a7df002dbf0c22e1.jpg" alt="JavaScript" class="w-auto h-25 rounded-full">
        <li>Python</li>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXqH3qcBehhF3BYcupmrY6mcA3q8KBTKui7g&s" alt="JavaScript" class="w-auto h-20 rounded-full">
      </ul>
    </div>
  
 
    <div class="category">
      <h3 class="text-xl font-semibold">Other Technical Skills</h3>
      <ul>
        <li>Node.js, Express</li>
        <li>Python (Django, Flask)</li>
        <li>MySQL, MongoDB</li>
      </ul>
    </div>
  </section>
  