<section class="skills">
    <h2 class="text-3xl font-bold">Skills</h2>
  

    <div class="category">
      <h3 class="text-xl font-semibold">Skill Technicals</h3>
      <ul>
        <p class="font-semibold text-blue-500 mt-2 hover:text-blue-600 transition-all duration-300">HTML</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEc9A_S6BPxCDRp5WjMFEfXrpCu1ya2OO-Lw&s" alt="HTML" class="w-auto h-20 rounded-full">
        <p class="font-semibold text-blue-500 mt-2 hover:text-blue-600 transition-all duration-300">JavaScript</p>
        <img src="https://seekvectors.com/files/download/70ccc1a930b323b6a7df002dbf0c22e1.jpg" alt="JavaScript" class="w-auto h-25 rounded-full">
        <p class="font-semibold text-blue-500 mt-2 hover:text-blue-600 transition-all duration-300">Python</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXqH3qcBehhF3BYcupmrY6mcA3q8KBTKui7g&s" alt="Python" class="w-auto h-20 rounded-full">
      </ul>
    </div>
  
 
    <div class="category">
      <h3 class="text-xl font-semibold">Other Skills</h3>
      <ul>
        <p class="font-semibold text-blue-500 mt-2 hover:text-blue-600 transition-all duration-300">CAPCUT</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_dCkID71eLCcjO-Nm5dSY_UVXdDpZWf1jwDsiNmtUsSpY06BRl_XItaP_eEkqnrIPs0I&usqp=CAU" alt="Capcut" class="w-auto h-20 rounded-full">
        <p class="font-semibold text-blue-500 mt-2 hover:text-blue-600 transition-all duration-300">FOOTBALL</p>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/002/715/101/small/soccer-ball-flat-style-design-icon-sign-illustration-isolated-on-white-background-football-sports-symbol-championship-soccer-goal-icon-world-soccer-championship-sign-vector.jpg" alt="" class="w-auto h-25 rounded-full">
      </ul>
    </div>
  </section>
  