<section class="bg-gradient-to-b from-blue-100 to-blue-50 text-center py-12 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mt-4 text-blue-400">ประวัติส่วนตัว</h1>
    <div class="mt-6 space-y-4 text-lg text-gray-700">
      <p><span class="font-semibold text-blue-600">ชื่อ:</span> ต้นน้ำ ซันประสิทธิ์</p>
      <p><span class="font-semibold text-blue-500">วันเกิด:</span> 11 ตุลาคม พ.ศ. 2547</p>
      <p><span class="font-semibold text-blue-500">อายุ:</span> 20 ปี</p>
      <p><span class="font-semibold text-blue-400">เบอร์โทร:</span> 0917415963</p>
      <p><span class="font-semibold text-blue-500">กรุ๊ปเลือด:</span> AB</p>
      <h2 class="text-2xl font-bold text-blue-300">ประวัติการศึกษา</h2>
      <p><span class="font-semibold text-blue-500">ประถมศึกษา:</span> ชินวร</p>
      <p><span class="font-semibold text-blue-500">มัธยมศึกษา:</span> บางกะปิ</p>
      <p><span class="font-semibold text-blue-400">อุดมศึกษา:</span> มหาวิทยาลัยบูรพา</p>
      <hr class="border-blue-200 my-6">
    </div>
  </section>
  